@import "base/variables";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(202, 39, 39, 0.25) 50px,rgba(0,255,255, .25) 100px), repeating-linear-gradient(90deg, rgba(0,255,255, .25), rgba(184, 21, 21, 0.25) 50px, transparent 50px, transparent 100px), repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(233, 10, 10, 0.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), repeating-linear-gradient(transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(185, 9, 9, 0.2) 21px, transparent 21px,transparent 29px, rgba(219, 5, 5, 0.158) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(224, 5, 5, 0.2) 20px, rgba(151, 23, 23, 0.2) 21px, transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px);
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(77, 76, 76);
    nav{
        ul{
            list-style: none;
            margin: 10px;
            padding: 10px;
            li{
                display: inline-block;
                margin-left: 2rem;
                :hover{
                    color: rgb(3, 2, 2);
                    font-size: 15px;
                    transform: scale(1);
                    box-shadow: 1px 1px 10px black;
                    transform: rotate(10deg);
                    border-radius: 100px; 
                }
            }
        }
        
    .header__logo{
        box-shadow: 2px 8px 10px black;
        width: 70px;
        animation-name: logo;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    }
}

main{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;

    gap: 20px;
    justify-items: center;
    .main__logo{
        width: 90%;
        box-shadow: 2px 8px 10px black;
    }
    .main__info1{
        justify-self: left;
    }
    .main__info2{
        justify-self: right;
    }    
    .main__sprinter{
        justify-self: center;
        width: 200px;
        box-shadow: 2px 8px 10px black; 
        }
    .contactos{
        display: flex;
        padding: 1.5rem;
        justify-content: center;
        
    }
    .contacto:hover{
        transform: scale(1.2);
    }
    
    
}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

